* {
    margin: 0;
    padding: 0;
}
/* Header */
header {
    height: 100dvh;
    background-image: url('./assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 120px;

}


.banner-section  {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 16px;
}

.brand-name  {
    font-size: 40px;
    color: blue;
}

.btn-primary {
    padding: 16px 32px;
    border: none;
    border-radius: 8px;
    background-color: blue;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

.banner-desc {
    text-align: center;
}

.banner-desc h1 {
    font-size: 80px;
    margin-top: 20%;
    margin-bottom: 32px;
}


/* action  */

.action {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 16px;
    margin-bottom: 32px;
}
.action-desc{
     text-align: center;
}
.action-desc h2{
    font-size: 50px;
    margin-top: 20%;
    margin-bottom: 16px;
}
.action-desc p{
    color:#252432;
    margin-bottom: 16px;
}



/* part3 */
.part3{
    text-align: center;
    margin: 120px 200px;
     padding: 20px;
     background-color: lightblue;
}
.jtpu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 64px;
}
.heading{
    font-size: 40px;
}
.bc{
    font-size: 64px;
    font-weight: bold;
    color: blue;
}
.b3{
    color: #706f80;
    
}

/* part4 */
.part4{
    margin-bottom: 40px;
}
.part4 h1{
    text-align: center;
}
.Reviewer-container{
    display: flex;
    margin: 0 20%;
}
.part4 h1{
    margin-bottom: 50px;
    font-size: 40px;
}
.desiner{
    margin-top: 16px;
    margin-bottom: 16px;
}
.R-img{
    display: flex;
    margin-top: 16px;
}
.R-img img{
    border-radius: 50%;
}

.part4 > div {
    padding: 8px;
    margin-right: 10px;
}


/* part5 */
.part5{
    text-align: center;
}
.p5d1{
    margin-top: 75px;
    margin-bottom: 20px;
}
.p5d1 h1{
    margin-bottom: 20px;
    font-size: 50px;
}
.p5d1 p{
    margin-bottom: 20px;
}


